



.fl-node-5ca8a755d12ec .fl-bg-video-audio {
	display: none;
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 5;
	width: 20px;
}
.fl-node-5ca8a755d12ec .fl-bg-video-audio .fl-audio-control {
	font-size: 20px;
}
.fl-node-5ca8a755d12ec .fl-bg-video-audio .fa-times {
	font-size: 10px;
	vertical-align: middle;
	position: absolute;
	top: 5px;
	left: 11px;
	bottom: 0;
}

.fl-node-5ca8a755d12ec.fl-row-fixed-width, .fl-node-5ca8a755d12ec .fl-row-fixed-width {
	max-width: 1860px;
}




.fl-node-5ca8a787290b1 .fl-bg-video-audio {
	display: none;
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 5;
	width: 20px;
}
.fl-node-5ca8a787290b1 .fl-bg-video-audio .fl-audio-control {
	font-size: 20px;
}
.fl-node-5ca8a787290b1 .fl-bg-video-audio .fa-times {
	font-size: 10px;
	vertical-align: middle;
	position: absolute;
	top: 5px;
	left: 11px;
	bottom: 0;
}

.fl-node-5ca8a787290b1.fl-row-fixed-width, .fl-node-5ca8a787290b1 .fl-row-fixed-width {
	max-width: 1692px;
}




.fl-node-5ca8aae858e3d .fl-bg-video-audio {
	display: none;
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 5;
	width: 20px;
}
.fl-node-5ca8aae858e3d .fl-bg-video-audio .fl-audio-control {
	font-size: 20px;
}
.fl-node-5ca8aae858e3d .fl-bg-video-audio .fa-times {
	font-size: 10px;
	vertical-align: middle;
	position: absolute;
	top: 5px;
	left: 11px;
	bottom: 0;
}

.fl-node-5ca8aae858e3d.fl-row-fixed-width, .fl-node-5ca8aae858e3d .fl-row-fixed-width {
	max-width: 1682px;
}




.fl-node-5ca8a755d2b83 {
	width: 100%;
}




.fl-node-5ca8a7872af85 {
	width: 100%;
}




.fl-node-5ca8aae85c26f {
	width: 100%;
}
