



.fl-node-5ca874d2f25d3 .fl-bg-video-audio {
	display: none;
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 5;
	width: 20px;
}
.fl-node-5ca874d2f25d3 .fl-bg-video-audio .fl-audio-control {
	font-size: 20px;
}
.fl-node-5ca874d2f25d3 .fl-bg-video-audio .fa-times {
	font-size: 10px;
	vertical-align: middle;
	position: absolute;
	top: 5px;
	left: 11px;
	bottom: 0;
}

.fl-node-5ca874d2f25d3.fl-row-fixed-width, .fl-node-5ca874d2f25d3 .fl-row-fixed-width {
	max-width: 1814px;
}




.fl-node-5ca879bb82e59 .fl-bg-video-audio {
	display: none;
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 5;
	width: 20px;
}
.fl-node-5ca879bb82e59 .fl-bg-video-audio .fl-audio-control {
	font-size: 20px;
}
.fl-node-5ca879bb82e59 .fl-bg-video-audio .fa-times {
	font-size: 10px;
	vertical-align: middle;
	position: absolute;
	top: 5px;
	left: 11px;
	bottom: 0;
}

.fl-node-5ca879bb82e59.fl-row-fixed-width, .fl-node-5ca879bb82e59 .fl-row-fixed-width {
	max-width: 2036px;
}




.fl-node-5ca8800245292 .fl-bg-video-audio {
	display: none;
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 5;
	width: 20px;
}
.fl-node-5ca8800245292 .fl-bg-video-audio .fl-audio-control {
	font-size: 20px;
}
.fl-node-5ca8800245292 .fl-bg-video-audio .fa-times {
	font-size: 10px;
	vertical-align: middle;
	position: absolute;
	top: 5px;
	left: 11px;
	bottom: 0;
}

.fl-node-5ca8800245292.fl-row-fixed-width, .fl-node-5ca8800245292 .fl-row-fixed-width {
	max-width: 1792px;
}




.fl-node-5ca89653c70a2 .fl-bg-video-audio {
	display: none;
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 5;
	width: 20px;
}
.fl-node-5ca89653c70a2 .fl-bg-video-audio .fl-audio-control {
	font-size: 20px;
}
.fl-node-5ca89653c70a2 .fl-bg-video-audio .fa-times {
	font-size: 10px;
	vertical-align: middle;
	position: absolute;
	top: 5px;
	left: 11px;
	bottom: 0;
}

.fl-node-5ca89653c70a2.fl-row-fixed-width, .fl-node-5ca89653c70a2 .fl-row-fixed-width {
	max-width: 1724px;
}




.fl-node-5ca874d300540 {
	width: 100%;
}




.fl-node-5ca879bb85df3 {
	width: 100%;
}




.fl-node-5ca880024879e {
	width: 100%;
}




.fl-node-5ca89653cb25a {
	width: 100%;
}
