html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: $dark_grey;
}

.main-container {
    width: 80%;
    margin-left: auto;

    @media screen and (max-width: 1100px) {
        width: calc(100% - 50px);
    }
}

a {
    text-decoration: none;
}